# Expo
.expo/
dist/
web-build/
prebuild-binaries/

# Generated Native Folders
android/
ios/

# Node modules
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# Secrets & Environment
.env
.env.local
.env.*.local
*.jks
*.p8
*.p12
*.key
*.mobileprovision
# google-services.json - Removed from ignore so EAS can see it

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Build & Testing
build/
coverage/
.nyc_output/
